<div class="user">
  <div class="user_wrap">
    <div class="user_circle">
    <img class="user_picture" src="https://i.imgur.com/72Scff8.png">
    </div>
    <strong class="user_title"><%= current_user.name %></strong>
  </div>
  <div class="new_account_button">
    <div class="widget-inner">
    <a class="widget-link" href="/accounts/new">
      <i class="fa fa-plus"></i>
    </a>
  </div>
  </div>
</div>
<ul class="mypage_contain">
  <li class="mypage_icon">
    <div class="icon_pack">
      <a href="/accounts/pc"><img class="icon" src="https://i.imgur.com/mxy1P5w.png">
      <span class="mypage_text"><center>피씨방</center></span></a>
    </div>
  </li>
  <li class="mypage_icon">
    <div class="icon_pack">
      <a href="/accounts/wifi"><img class="icon" src="https://i.imgur.com/cdTOP7L.png"></a>
      <span class="mypage_text">와이파이</span>
    </div>
  </li>
  <li class="mypage_icon">
    <div class="icon_pack">
      <a href="/accounts/online"><img class="icon" src="https://i.imgur.com/G6gdDuo.png"></a>
      <span class="mypage_text">온라인</span>
    </div>
  </li>
  <li class="mypage_icon">
    <div class="icon_pack">
      <a href="/accounts/etc"><img class="icon" src="https://i.imgur.com/Yw74AM0.png"></a>
      <span class="mypage_text">기타</span>
    </div>
  </li>
</ul>
    